USE [master]
GO
/****** Object:  Database [Magazzino3]    Script Date: 25.08.2021 10:46:39 ******/
CREATE DATABASE [Magazzino3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magazzino3', FILENAME = N'C:\Users\terez\Magazzino3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magazzino3_log', FILENAME = N'C:\Users\terez\Magazzino3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magazzino3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magazzino3]
GO
USE [Magazzino3]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 25.08.2021 10:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [int] NULL,
	[Supply] [int] NULL,
	[NumberOfDoors] [int] NULL,
	[NumberOfSeats] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discriminator] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([Brand], [Model], [Year], [Supply], [NumberOfDoors], [NumberOfSeats], [Id], [Discriminator]) VALUES (N'Honda', N'CB', 2010, NULL, NULL, NULL, 1, N'Motorcycle')
INSERT [dbo].[Vehicle] ([Brand], [Model], [Year], [Supply], [NumberOfDoors], [NumberOfSeats], [Id], [Discriminator]) VALUES (N'Ducati', N'CX', 2015, NULL, NULL, NULL, 2, N'Motorcycle')
INSERT [dbo].[Vehicle] ([Brand], [Model], [Year], [Supply], [NumberOfDoors], [NumberOfSeats], [Id], [Discriminator]) VALUES (N'Fiat', N'CinqueCento', NULL, 0, 3, NULL, 3, N'Car')
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
USE [master]
GO
